/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

:root {
  --font-todo-list-metadata-size: 14px;
  --font-todo-list-title-size: 18px;
  --font-todo-list-error-size: 14px;

  --gray-1: #131421;
  --gray-2: #191a2a;
  --gray-3: #1e2030;
  --gray-4: #222436;
  --gray-5: #2f334d;
  --gray-6: #444a73;
  --gray-7: #828bb8;
  --gray-8: #a9b8e8;
  --gray-9: #b4c2f0;
  --gray-10: #c8d3f5;

  --dark-red: #ff5370;
  --red: #ff757f;
  --light-red: #ff98a4;
  --orange: #ff966c;
  --dark-orange: #fc7b7b;
  --yellow: #ffc777;
  --green: #c3e88d;
  --teal: #4fd6be;
  --aqua: #50c4fa;
  --cyan: #86e1fc;
  --cyan-alt: #b4f9f8;
  --sky-blue: #65bcff;
  --blue: #82aaff;
  --dark-blue: #3e68d7;
  --pink: #fca7ea;
  --purple: #c099ff;
  --indigo: #7a88cf;

  --text-light: #e2e8fa;
  --text-primary: #c8d3f5;
  --text-paragraph: #c0cdf3;
  --text-secondary: #b4c2f0;
  --text-gray: #a9b8e8;
  --text-dark: #828bb8;
}

.todo-list-query-title {
  display: inline;
  font-size: 1.25em;
}

.todo-list-refresh-button {
  display: inline;
  margin-left: 0;
  margin-right: 0;
  float: right;
}

.is-live-preview .todo-list-refresh-button {
  margin-right: 40px;
}

.todo-list-refresh-spin {
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.todo-metadata {
  padding-left: 20px;
}

.todo-calendar-icon,
.todo-project-icon,
.todo-labels-icon {
  vertical-align: middle;
  height: 17px;
  width: 17px;
}

.todo-list-project {
  white-space: normal;
}

.todo-list-error {
  background-color: rgb(var(--background-modifier-error-rgb), 0.5);
  border: 1px solid var(--background-modifier-error);
  padding: 0 10px 20px 10px;
  margin-top: 20px;
}

.todo-list-success {
  border: 1px solid var(--background-modifier-border);
  padding: 0 10px 20px 10px;
  margin-top: 20px;
}

.todo-list-todo-content {
  display: inline;
}

ul.todo-list-todo-list {
  padding-left: 0;
  list-style: none;
  white-space: normal;
}

.markdown-reading-view .hide-in-reading-view {
  display: none;
}

.is-live-preview .block-language-sync-calendar {
  padding-left: 15px;
}

.theme-dark {
  --todo-overdue: rgba(254, 158, 169, 0.85);

  --todo-list-p1-border: #ff7066;
  --todo-list-p1-border-hover: #ff706680;
  --todo-list-p1-background: rgba(255, 112, 102, .1);

  --todo-list-p2-border: #ff9a14;
  --todo-list-p2-border-hover: #ff9a1480;
  --todo-list-p2-background: rgba(255, 154, 20, .1);

  --todo-list-p3-border: #5297ff;
  --todo-list-p3-border-hover: #5297ff80;
  --todo-list-p3-background: rgba(82, 151, 255, .1);

  --todo-list-p4-border: #828bb8;
  --todo-list-p4-border-hover: #828bb880;
  --todo-list-p4-background: rgba(111, 111, 111, .1);
}

.theme-light {
  --todo-overdue: rgba(213, 77, 92, 0.8);
  ;

  --todo-list-p1-border: #d1453b;
  --todo-list-p1-border-hover: #d1453b80;
  --todo-list-p1-background: rgba(209, 69, 59, .1);

  --todo-list-p2-border: #eb8909;
  --todo-list-p2-border-hover: #eb890980;
  --todo-list-p2-background: rgba(235, 137, 9, .1);

  --todo-list-p3-border: #246fe0;
  --todo-list-p3-border-hover: #246fe080;
  --todo-list-p3-background: rgba(36, 111, 224, .1);

  --todo-list-p4-border: #828bb8;
  --todo-list-p4-border-hover: #828bb880;
  --todo-list-p4-background: rgba(111, 111, 111, .1);
}

.todo-list-p1 input {
  --checkbox-border-color: var(--todo-list-p1-border);
  --checkbox-border-color-hover: var(--todo-list-p1-border-hover);
  border-radius: 50% !important;
  background-color: var(--todo-list-p1-background);
}

.todo-list-p2 input {
  --checkbox-border-color: var(--todo-list-p2-border);
  --checkbox-border-color-hover: var(--todo-list-p2-border-hover);
  border-radius: 50% !important;
  background-color: var(--todo-list-p2-background);
}

.todo-list-p3 input {
  --checkbox-border-color: var(--todo-list-p3-border);
  --checkbox-border-color-hover: var(--todo-list-p3-border-hover);
  border-radius: 50% !important;
  background-color: var(--todo-list-p3-background);
}

.todo-list-p4 input {
  --checkbox-border-color: var(--todo-list-p4-border);
  --checkbox-border-color-hover: var(--todo-list-p4-border-hover);
  border-radius: 50% !important;
  background-color: var(--todo-list-p4-background);
}

/* cm-list-2 */
.cm-s-obsidian span.cm-footref,
.cm-s-obsidian span.cm-blockid {
  color: #d1453b;
}

/* Settings */
p.sync-calendar-setting-header-title {
  display: block;
  padding: 6px 0;
  margin: 0;
  margin-top: 13.5px;
  font-size: 1.3em;
  font-family: "Segoe UI Emoji", "Noto Color Emoji";
}

p.sync-calendar-setting-header-description {
  display: block;
  padding: 6px 0;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 0.8em;
  font-family: "Segoe UI Emoji", "Noto Color Emoji";
}

.todo-metadata {
  font-size: var(--font-todo-list-metadata-size);
  color: #7a88cf;
  margin-left: unset !important;
}

.todo-metadata>* {
  margin-right: 30px;
}

.todo-date.todo-overdue {
  color: var(--todo-overdue) !important;
}

.todo-calendar-icon,
.todo-project-icon,
.todo-labels-icon {
  vertical-align: middle;
  height: 17px;
  width: 17px;
}

.todo-list-project .todo-list-project {
  margin-left: 20px;
}

.todo-list-section {
  margin-left: 20px;
}

.todo-list-project .todo-list-project-title {
  font-weight: 700;
  margin-block-end: 0px;
}

.todo-list-section .todo-list-section-title {
  font-size: var(--font-todo-list-title-size);
  color: var(--indigo);
  font-weight: 700;
  margin-block-end: 0px;
}

.todo-list-error {
  border: 1px solid var(--light-red);
  background-color: rgba(255, 152, 164, 0.05);
  padding: 1em 1em;
  margin: 1em 0px;
}

.todo-list-error p {
  margin: 0 0 1em 0;
  font-weight: 600;
}

.todo-list-error pre {
  font-size: var(--font-todo-list-error-size);
  background-color: unset !important;
  padding: unset !important;
  margin: unset !important;
  color: var(--dark-blue);
  font-weight: 600;
  font-family: var(--font-monospace) !important;
  border: 1px solid var(--dark-blue) !important;
  border-radius: 4px;
  white-space: pre;
}